.limousinesearch div.notification {
    margin: 5px 0 15px;
    background: #fff;
    border: 1px solid #c3c4c7;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    padding: 1px 12px;
}

.limousinesearch div.fail {
    border-left-color: #d63638;
}

.limousinesearch div.success {
    border-left-color: #00a32a;
}